<div id="o-firme" class="container-fluid pt-5">
    <div id="accommodation-container" class="container-lg pt-xl-5">
        <h2 class="display-1 fw-bolder mb-4">O firmě</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae blanditiis dolor ducimus earum,
            error et excepturi facere fugiat fugit illum iure magnam magni neque nihil nostrum, nulla numquam
            placeat?
        </p>

        <p>Dolore earum hic laborum, magni molestias non placeat, possimus quaerat, sapiente sequi tempore vel? Aperiam,
            consectetur eveniet exercitationem illum impedit maiores officia pariatur quibusdam quo rem sequi sit
            tempore vero?
        </p>

        <p>Ab amet animi assumenda beatae consequatur cum cupiditate debitis dolores doloribus eum excepturi fugit ipsa
            iste iusto neque, odio officia pariatur praesentium quasi tempora totam veritatis voluptas? Consequatur
            expedita, quasi?
        </p>

        <p>
            A atque, blanditiis dignissimos, dolore dolorum eius eveniet excepturi, nisi odit officia possimus quisquam
            reprehenderit repudiandae saepe temporibus. Aspernatur, nostrum quis? Architecto debitis dolorem ea fugit
            molestiae necessitatibus perspiciatis reiciendis?
        </p>

        <p class="mb-0">
            A facilis id necessitatibus numquam placeat sunt! Debitis deserunt eligendi iste nulla quibusdam, ratione
            tenetur veritatis! Animi assumenda cumque deserunt, enim, fuga laborum officiis possimus, quam quis repellat
            sit veritatis.
        </p>
    </div>
</div>
