<div id="banner" class="container-fluid px-0 d-flex">
{#    <video class="w-100" autoplay loop>#}
{#        <source src="{{ "assets/videos/main.mp4"|theme }}">#}
{#    </video>#}

    <div class="swiper banner-swiper w-100">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="{{ 'assets/images/banner/01.jpg'|theme }}" alt="" class="img-fluid">
            </div>

            <div class="swiper-slide">
                <img src="{{ 'assets/images/banner/02.jpg'|theme }}" alt="" class="img-fluid">
            </div>

            <div class="swiper-slide">
                <img src="{{ 'assets/images/banner/03.jpg'|theme }}" alt="" class="img-fluid">
            </div>

            <div class="swiper-slide">
                <img src="{{ 'assets/images/banner/04.jpg'|theme }}" alt="" class="img-fluid">
            </div>
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>
