<div id="kontakt" class="container-fluid bg-secondary py-5 text-primary">
    <div id="contact-container" class="container-lg py-xl-5">
        <div class="row">
{#            <div class="col-lg-7 col-xl-6">#}
{#                <h2 class="display-1 fw-bolder mb-4">Napište nám</h2>#}

{#                {% component "contactform" %}#}
{#            </div>#}

            <div class="col-sm-6 col-lg-4 col-xl-3">
                <p class="mb-4">
                    <span class="fw-bolder display-2">ODDECO CZ s.r.o.</span><br>
                    Pobřežní 249/46 <br>
                    186 00 Praha 8 – Karlín <br>
                    Česká republika
                </p>

                <p class="mb-4">
                    <i class="bi bi-telephone me-2 text-tertiary"></i>
                    <a href="tel:+420 733 566 845" class="link-primary text-decoration-none hover-black">
                        +420 733 566 845
                    </a>

                    <br>

                    <i class="bi bi-envelope me-2 text-tertiary"></i>
                    <a href="mailto:info@oddeco.cz" class="link-primary text-decoration-none hover-black">
                        info@oddeco.cz
                    </a>
                </p>

                <p>
                    IČ: 04721241 <br>
                    DIČ: CZ04721241
                </p>

                <p class="mb-0">
                    Datová schránka: bhahtyf
                </p>
            </div>

            <div class="mt-5 col-sm-6 mt-sm-0 col-lg-3">
                <p class="mb-4">
                    <span class="fw-bolder display-2">Tomáš Straňák</span><br>
                    Jednatel
                </p>

                <p class="mb-0">
                    <i class="bi bi-telephone me-2 text-tertiary"></i>
                    <a href="tel:+420 733 566 845" class="link-primary text-decoration-none hover-black">
                        +420 733 566 845
                    </a>

                    <br>

                    <i class="bi bi-envelope me-2 text-tertiary"></i>
                    <a href="mailto:stranak@oddeco.cz" class="link-primary text-decoration-none hover-black">
                        stranak@oddeco.cz
                    </a>
                </p>

                <p class="mb-4 mt-5">
                    <span class="fw-bolder display-2">Jiří Musil</span><br>
                    Jednatel
                </p>

                <p class="mb-0">
                    <i class="bi bi-telephone me-2 text-tertiary"></i>
                    <a href="tel:+420 608 955 010" class="link-primary text-decoration-none hover-black">
                        +420 608 955 010
                    </a>

                    <br>

                    <i class="bi bi-envelope me-2 text-tertiary"></i>
                    <a href="mailto:musil@oddeco.cz" class="link-primary text-decoration-none hover-black">
                        musil@oddeco.cz
                    </a>
                </p>
            </div>

            <div class="mt-5 col-xl-6 mt-xl-0">
                <div class="ratio ratio-4x3">
                    <iframe style="border:none" src="https://en.frame.mapy.cz/s/duvecubula" width="400" height="280" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
